form {
  width: 100%;
}

form * {
  margin-left: 3%;
}

input {
  width: 15vw;
  height: 30px;
}

form button {
  background: teal;
  color: white;
  width: auto;
  height: 30px;
}

form > button {
  background: teal;
  color: white;
  width: auto;
  height: 30px;
  transition: .2s ease all;
  cursor: pointer;
}

form > button:hover {
  background: cyan;
}
