.card {
  background: white;
  padding: 10px 40px;
  border: 5px solid teal;
  color: teal;
  border-radius: 8px;
}

.card button {
  background: teal;
  width: 100%;
  color: white;
  height: 30px;
  cursor: pointer;
  transition: .2s ease all;
}

.card button:hover {
  background: cyan;
}
